* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.testfiller {
    height: 1000px;
}

body {
    background-color: #47779e;
    background: url(/img/structural/waterfront2.jpg) no-repeat 0% 50% fixed;
    background-size: 100vw;
    color: white;
}

@media screen and (max-aspect-ratio:3/2) {
    body {
        background-size: 150vh;
    }
}

@media (orientation:portrait) {
    header {
        border: white 3px solid;
        min-height: 200px;
        width: 95%;
        margin: 10px auto;
        background-color: black;
        text-align: center;
        box-shadow: 3px 3px 7px black;
    }

    nav {
        border: 3px solid white;
        width: 95%;
        height: 50px;
        margin: 20px auto;
        background-color: black;
        text-align: center;
        box-shadow: 3px 3px 7px black;
    }


    main {
        border: white 3px solid;
        min-height: 200px;
        width: 95%;
        margin: 10px auto;
        background-color: black;
        box-shadow: 3px 3px 7px black;
    }

    body {
        background-size: 200vh;
    }
}

@media (min-aspect-ratio:16/9) {
    header {
        border: white 3px solid;
        min-height: 200px;
        width: 41.7%;
        margin: 10px auto;
        background-color: black;
        text-align: center;
        box-shadow: 3px 3px 7px black;
    }

    nav {
        border: 3px solid white;
        width: 41.7%;
        height: 50px;
        margin: 20px auto;
        background-color: black;
        text-align: center;
        box-shadow: 3px 3px 7px black;
    }


    main {
        border: white 3px solid;
        min-height: 200px;
        width: 800px;
        margin: 10px auto;
        background-color: black;
        box-shadow: 3px 3px 7px black;
    }
}

@media (min-aspect-ratio:4/3) {
    header {
        border: white 3px solid;
        min-height: 200px;
        width: 60%;
        margin: 10px auto;
        background-color: black;
        text-align: center;
        box-shadow: 3px 3px 7px black;
    }

    nav {
        border: 3px solid white;
        width: 60%;
        height: 50px;
        margin: 20px auto;
        background-color: black;
        text-align: center;
        box-shadow: 3px 3px 7px black;
    }

    main {
        border: white 3px solid;
        min-height: 200px;
        width: 60%;
        margin: 10px auto;
        background-color: black;
        box-shadow: 3px 3px 7px black;
    }
}




header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110px;
    font-weight: 200;
    margin: -5px auto auto -10px;
    letter-spacing: 1px;
}

header h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    font-size: 1.17em;
}



nav li {
    display: inline-block;
    font-size: 20px;
    margin: 8px 0px;
    border-right: white 1px solid;
    padding: 2px 30px;
}

nav li:last-child {
    border-right: 0px;
}

nav a {
    text-decoration: none;
    color: white;
}

.current::before {
    content: ':';
}

.current::after {
    content: ':';
}

.insidemargin {
    width: auto;
    height: auto;
    margin: 30px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    font-weight: 200;
    margin: -5px auto auto -10px;
    letter-spacing: 1px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    text-align: center;
    font-weight: 200;
    margin: -5px auto auto -10px;
    letter-spacing: 1px;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 200;
    margin: -5px auto auto -10px;
    letter-spacing: 1px;
}

h3 a {
    text-decoration: underline;
    color: white;
}

h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: inline;
}

#storyiframe {
    width: 100%;
    height: 91vh;
}

#settingsBtn {
    position: fixed;
    right:  10px;
    bottom: 10px;
    min-height: 50px;
    min-width: 50px;
    height: 3vw;
    width:  3vw;
    color: #47779e;
    background-color: aqua;
    border-radius: 100%;
}